<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>
        <code>Welcome to Secret Picture</code>
    </h1>

    <hr>

    <form method="POST" action="/auth" data-th-object="${loginForm}" autocomplete="off">
        <table>
            <tr>
                <td>
                    Username:
                </td>
                <td>
                    <input type="text" data-th-field="*{username}">
                    <span data-th-if="${#fields.hasErrors('username')}"
                            data-th-errors="*{username}"
                            data-th-errorclass="error">
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password" data-th-field="*{password}">
                    <span data-th-if="${#fields.hasErrors('password')}"
                            data-th-errors="*{password}"
                            data-th-errorclass="error">
                    </span>
                </td>
            </tr>

            <div data-th-if="${loginAttempts ge 2}">
                <tr>
                    <td></td>

                    <td border=1 data-th-text="${captcha}" class="captcha"></td>

                </tr>

                <tr>
                    <td>
                        Captcha:
                    </td>

                    <td>
                        <input type="text" data-th-field="*{captcha}">
                    </td>

                </tr>
            </div>

            <tr>
                <td></td>
                <td>
                    <button type="submit">Login</button>
                </td>
            </tr>

            <div data-th-if="${#fields.hasErrors('global')}">
                <tr>
                    <td data-th-each="err: ${#fields.errors('global')}" class="error" colspan="2">
                        <span data-th-text="${err}"></span>
                    </td>
                </tr>
            </div>

        </table>
    </form>

    

    </div>
</body>
</html>