<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>
        <code>Welcome to Secret Picture</code>
    </h1>

    <hr>

    <form method="POST" action="/auth" data-th-object="${loginForm}" autocomplete="off">
        <table>
            <tr>
                <td>
                    Username:
                </td>
                <td>
                    <input type="text" data-th-field="*{username}">
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password" data-th-field="*{password}">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Login</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>