<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Picture</title>
</head>
<body>
    <h1>
        <code>Here's your secret picture!</code>
    </h1>

    <hr>

    <img src="/images/happy-cat-cat.gif">

    <hr>

    <div>
        <span>Saying bye to the cat already? </span> 

        <form>
            <button type="submit" formmethod="POST" formaction="/logout">
                Logout
            </button>
        
        </form>
        
    </div>
    
</body>
</html>